/* hide scrollbar */
.popup::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    display: none;  // Safari and Chrome
}
/* optional: show position indicator in red */
.popup::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.popup {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
/* end scrollbar */

/* bg */
#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bgWrapper li {
    width: calc(100%/3);
    height: calc(100%/4);
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgWrapper li img {
    max-width: initial;
}

/* end bg */


/* popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    padding: 75px 130px 80px;
    max-width: 994px;
    z-index: 1;
    color: #fff;
    max-height: 90vh;
    width: 90%;
    overflow: auto;

}

.form_head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_head p {
    font-family: Dosis;
    font-weight: 350;
    font-size: 36px;
    margin-bottom: 25px;
}

.form_head p span {
    font-weight: bold;
    text-transform: uppercase;
}

.form_head img {
    margin-bottom: 70px;
}

.form_body .description {
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 30px;
    text-align: justify;
}

.form_body .form_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.form_body .form_group.box_info input[type="text"] {
    width: calc((100% - 30px)/2);
    height: 40px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.form_body .form_group.box_select {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.form_body .form_group select {
    margin-left: 46px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;

    border-radius: 2px;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.form_body .form_group .box-select {
    position: relative;
}

.form_body .form_group .box-select::after {
    content: "";
    display: block;
    background-image: url(../images/Down.png);
    width: 20px;
    height: 11px;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1;

}

.form_body .form_group.select1 {
    margin-bottom: 25px;
}

.form_body .form_group.select1 select {
    width: 210px;
    border-radius: 2px;

}

.form_body .form_group.select2 select {

    width: 300px;
    border-radius: 2px;
}

.form_body .form_group.select2 {
    margin-bottom: 90px;
}

.form_body .form_group.upload input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2px;


}

.form_body .form_group.upload .box_upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 40px;
    background: #FFF;
    color: #000;
    position: relative;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.form_body .form_group.upload {
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 50px;

}

.form_body .form_group.upload .label {
    margin-left: 20px;
}

.form_body .form_group.upload .text_small {
    font-size: 12px;
    padding-top: 7px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.form_body .form_group.check_box {
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.form_body .form_group.check_box .label {
    cursor: pointer;
}

.form_body .form_group.check_box .text_bold2 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    padding-top: 6px;
}

.form_body .form_group.check_box p {
    font-family: 'Helvetica';
    font-weight: normal;
    font-size: 14px;
}

.form_body .form_group.check_box a {
    font-family: 'Helvetica';
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
    color: #fff;
}

.form_body .form_group.check_box .italic {
    font-style: italic;
}

.form_body .form_group.captcha {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.form_body .form_group.captcha label {
    font-size: 20px;
    font-weight: bold;
}

.form_body .form_group.captcha input[type="text"] {
    height: 40px;
    width: 60px;
    margin-left: 7px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

}

.form_body .form_group.submit {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.form_body .form_group.submit button {
    padding: 15px 40px;
    border-radius: 2px;
    background-color: rgb(214, 124, 28);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.form_body .box_bottom p {
    font-family: 'Helvetica';
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
    text-align: center;
    line-height: 1.2;
}

.form_body .box_bottom span {
    font-weight: bold;
    font-style: italic;
}
